<!DOCTYPE html>
<html>
<head>
    <title>Editar Datos Generales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Editar Datos Generales
                                    </p>
                                    <form action="{{ url_for('update_datos_generales', dni=data['dni'] ) }}" method="post">
                                        <!-- dni  -->
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" id="dni" for="dni">DNI</label>
                                                <input type="number" maxlength="8" id="dni" name="dni" required
                                                    class="form-control" value="{{ data.dni }}" placeholder="Escribe su DNI" />
                                            </div>
                                        </div>
                                        <!-- Apellido -->
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" id="apellidos">Apellidos</label>
                                                <input type="text" id="apellidos" name="apellidos" required
                                                    class="form-control" value="{{ data.apellidos }}"  placeholder="Escribe sus apellidos" />
                                            </div>
                                        </div>
                                        <!-- Nombre  -->
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" id="nombres">Name</label>
                                                <input type="text" id="nombres" name="nombres" required
                                                    class="form-control" value="{{ data.nombres }}" placeholder="Escribe sus nombres" />
                                            </div>
                                        </div>

                                        <!-- Fecha Nac  -->
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" id="fecha_nacimiento"
                                                    for="fecha_nacimiento">Fecha de Nacimiento</label>
                                                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento"
                                                    required class="form-control" value="{{ data.fecha_nacimiento }}" placeholder="Fecha de Nacimiento" />
                                            </div>
                                        </div>

                                        <!-- Boton Register  -->
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" value="Actualizar"
                                                class="btn btn-primary btn-lg">Actualizar</button>
                                        </div>
                                        <div class="text-center">
                                            <a href="{{ url_for('list_datos_crud') }}" class="btn btn-warning">Regresar a Datos Generales o List</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
